# --- SYSTEM & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# --- FRONTEND (Angular) ---
**/node_modules/
**/dist/
**/.angular/
frontend/src/environments/environment.prod.ts
*.log
*.pids
*.seed
*.pid.lock

# --- BACKEND (Java / Spring Boot / Maven) ---
**/target/
**/*.class
**/build/
.mvn/wrapper/maven-wrapper.jar

# --- ENVIRONNEMENT & SECRÉTS ---
.env
.env.local
**/temp/